.profileBox:hover .overlay{
    display: block;
    transform: scale(0.6);
    opacity: 1;
    transition: all 2s;
}
.profileBox:hover .profileCamBox{
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 2s;
    cursor: pointer;
}
.overlay{
    opacity: 0;
    width: 100%;
    color: rgb(187, 187, 187);
    transform: scale(1);
    transition: all 2s;
    justify-content: center;
    align-items: center;
}
.profileInput{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer
}